<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/top-for-cart::top"></div>
<head>
    <title>Корзина</title>
</head>
<body>

<div th:insert="blocks/navbar::navbar"></div>

<div class="mt-5">
    <h1 align="center">Корзина</h1>

    <div class="table-responsive shopping-cart">
        <table class="table">
            <thead>
            <tr>
                <th>Product Name</th>
                <th class="text-center">Quantity</th>
                <th class="text-center">Subtotal</th>
                <th class="text-center"><a class="btn btn-sm btn-outline-danger" th:href="@{/clearCart}">Clear Cart</a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="cartItem:${cart.items}">
                <td>
                    <div class="product-item">
                        <a class="product-thumb"><img th:src="@{/img/{filename}(filename = ${cartItem.tovar.filename})}"
                                                      alt="" width="220px" height="180px"></a>
                        <div class="product-info">
                            <h4 class="product-title"><a href="#"><span th:text="${cartItem.tovar.name}"/></a></h4>
                            <span><em>Price:</em>[[${cartItem.tovar.price}]]₽</span>
                        </div>
                    </div>
                </td>
                <td class="text-center">
                    <form th:action="@{/updateCart}" method="post">
                        <input type="hidden" th:value="${cartItem.id}" name="item_id"/>
                        <div class="input-group">
                            <input type="number" min="1" name="quantity" th:value="${cartItem.quantity}"
                                   class="form-control round-input form-control-sm"/>
                            <button class="btn btn-success btn-sm btn-custom" type="submit">
                                <i class="fa fa-check"></i>
                            </button>
                        </div>
                    </form>
                </td>
                <td class="text-center text-lg text-medium">[[${cartItem.tovar.price*cartItem.quantity}]]₽</td>
                <td class="text-center"><a class="remove-from-cart" th:href="@{/removeCartItem/{id}(id=${cartItem.id})}"
                                           data-toggle="tooltip"><i class="fa fa-trash"></i></a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="shopping-cart-footer">
        <div class="column text-lg ">Subtotal: <span class="text-medium ">[[${cart.totalPrice}]]₽</span></div>
    </div>
    <div class="shopping-cart-footer">
        <div class="column"><a class="btn btn-outline-secondary" href="/catalog"><i class="icon-arrow-left"></i>&nbsp;Back
            to Shopping</a></div>

        <form th:action="@{/checkout}" method="post">
            <button th:if="${cart.totalPrice} > 0 AND ${users.balance} > ${cart.totalPrice} " class="btn btn-success"
                    type="submit">Оформить заказ
            </button>
            <span th:if="${users.balance} < ${cart.totalPrice}">Недостаточно средств</span>
        </form>

    </div>
</div>


</div>

</body>