<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/top::top"></div>
<body>

<div th:insert="blocks/navbar::navbar"></div>

<div class ="container mt-5 mb-2">
    <h4 align="center">Редактирование товара</h4>
    <div th:each="el:${tovarList}">
    <form th:action="@{'/catalog/'+${el.id}+'/edit'}"  method="post" enctype="multipart/form-data">

        <input type="text" minlength="5" th:value="${el.name}" name="name" placeholder="Введите название товара" class="form-control"><br>

        <input type="file" name="file" placeholder="Добавьте картинку товара" class="form-control"><br>

        <input type="number" min="1" th:value="${el.price}" name="price" placeholder="Введите цену товара" class="form-control"><br>

        <input type="text" minlength="6" maxlength="6" th:value="${el.articul}" name="articul" placeholder="Введите артикул товара" class="form-control"><br>

        <button type="submit" class="btn btn-success">Сохранить изменения</button>
    </form>
    </div>
</div>
</body>