<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<div th:insert="blocks/top::top"></div>
<body>

<div th:insert="blocks/navbar::navbar"></div>

<div class ="container mt-5 mb-2">
    <h4 align="center">Добавить товар</h4>
    <form th:action="@{/catalog/add}" method="post" enctype="multipart/form-data">
        <input type="text" name="name" placeholder="Введите название товара" class="form-control"><br>
        <input type="file" name="file" placeholder="Добавьте картинку товара" class="form-control"><br>
        <input type="number" name="price" placeholder="Введите цену товара" class="form-control"><br>
        <input type="text" name="articul" placeholder="Введите артикул товара" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить товар</button>
    </form>
</div>
</body>