<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <div th:insert="blocks/top::top"></div>
    <title>Профиль</title>
    <style>
form {

  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

    </style>
</head>
<body>
<div th:insert="blocks/navbar::navbar"></div>
<h3 align="center"> Личный кабинет пользователя <span th:text="${#authentication.getPrincipal().getUsername()}"></span></h3>

<form th:action="@{/users/profile}" method="post">

    <div align="center"><label> Email: <input type="email" th:value="${#authentication.getPrincipal().getEmail()}" name="email"/></label></div>

    <div align="center"><label> Password: <input type="password" name="password"/> </label></div>

    <div align="center"><button type="submit" class="btn btn-success">Сохранить изменения</button></div>
</form>



</body>
</html>