<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <style>
form {

  margin: 0 auto;
  width: 400px;
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}


    </style>
</head>
<body>
<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<h1 align="center">Зарегистрируйтесь</h1>
<form th:action="@{/registration}" th:object="${users}" method="post">

    <div align="center"><label for="username">User Name :</label>
        <input type="text" th:field="*{username}" id="username" class="form-control is-invalid"/>
        <div class="invalid-feedback " th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div align="center"><label for="password">Password:</label>
        <input type="password" th:field="*{password}" id="password" class="form-control is-invalid"/>
        <div class="invalid-feedback " th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <div align="center"><label for="email">Email:</label>
        <input type="email" th:field="*{email}" id="email" class="form-control is-invalid"/>
        <div class="invalid-feedback " th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>


    <div align="center"><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>